@page
@model VGListRazor.Pages.VGList.IndexModel

<br />
<div class="container row p-0 m-0">
    <div class="col-10">
        <h2 class="text-info">Game List</h2>
    </div>
    <div class="col-2">
         <a asp-page="Create" class="btn btn-info form-control text-white">Create New Game</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="POST">
            @if(Model.Games.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Games.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Games.FirstOrDefault().platform"></label>
                        </th>
                        <th>
                            <label asp-for="Games.FirstOrDefault().publisher"></label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach(var item in Model.Games)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m=> item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m=> item.platform)
                            </td>
                            <td>
                                @Html.DisplayFor(m=> item.publisher)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route.id="@item.id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.id" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No games available.</p>
            }
        </form>
    </div>
</div>